body {
    background-color: rgb(0, 0, 0);
    a {
        color: rgb(4, 84, 233);
    }
}

header {
    padding: 30px;
    text-align: center;
    color:cornflowerblue;
    background-color: rgb(17, 16, 68);

    p {
        color:cornsilk;
    }
    linkContato {
        padding: 30px;
    }
}

body {
    color: white;
}